In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

In [2]:
test= pd.read_csv(r'C:\Users\aasimilyas\Desktop\DengAI_Pred\dengue_features_test.csv')

train= pd.read_csv(r'C:\Users\aasimilyas\Desktop\DengAI_Pred\dengue_features_train.csv')

labels= pd.read_csv(r'C:\Users\aasimilyas\Desktop\DengAI_Pred\dengue_labels_train.csv')

In [3]:
test.head(1)

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,2008,18,2008-04-29,-0.0189,-0.0189,0.102729,0.0912,78.6,298.492857,...,25.37,78.781429,78.6,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2

In [4]:
train.head(1)

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.1226,0.103725,0.198483,0.177617,12.42,297.572857,...,32.0,73.365714,12.42,14.012857,2.628571,25.442857,6.9,29.4,20.0,16.0

In [5]:
test.shape

(416, 24)

In [6]:
train.shape

(1456, 24)

In [7]:
train.isnull().any()

city                                     False
year                                     False
weekofyear                               False
week_start_date                          False
ndvi_ne                                   True
ndvi_nw                                   True
ndvi_se                                   True
ndvi_sw                                   True
precipitation_amt_mm                      True
reanalysis_air_temp_k                     True
reanalysis_avg_temp_k                     True
reanalysis_dew_point_temp_k               True
reanalysis_max_air_temp_k                 True
reanalysis_min_air_temp_k                 True
reanalysis_precip_amt_kg_per_m2           True
reanalysis_relative_humidity_percent      True
reanalysis_sat_precip_amt_mm              True
reanalysis_specific_humidity_g_per_kg     True
reanalysis_tdtr_k                         True
station_avg_temp_c                        True
station_diur_temp_rng_c                   True
station_max_temp_c                        True
station_min_temp_c                        True
station_precip_mm                         True
dtype: bool

In [8]:
miss_per = train.isnull()/len(train.isnull())

miss_per.sum()

city                                     0.000000
year                                     0.000000
weekofyear                               0.000000
week_start_date                          0.000000
ndvi_ne                                  0.133242
ndvi_nw                                  0.035714
ndvi_se                                  0.015110
ndvi_sw                                  0.015110
precipitation_amt_mm                     0.008929
reanalysis_air_temp_k                    0.006868
reanalysis_avg_temp_k                    0.006868
reanalysis_dew_point_temp_k              0.006868
reanalysis_max_air_temp_k                0.006868
reanalysis_min_air_temp_k                0.006868
reanalysis_precip_amt_kg_per_m2          0.006868
reanalysis_relative_humidity_percent     0.006868
reanalysis_sat_precip_amt_mm             0.008929
reanalysis_specific_humidity_g_per_kg    0.006868
reanalysis_tdtr_k                        0.006868
station_avg_temp_c                       0.029533
station_diur_temp_rng_c                  0.029533
station_max_temp_c                       0.013736
station_min_temp_c                       0.009615
station_precip_mm                        0.015110
dtype: float64

In [9]:
train.dtypes

city                                      object
year                                       int64
weekofyear                                 int64
week_start_date                           object
ndvi_ne                                  float64
ndvi_nw                                  float64
ndvi_se                                  float64
ndvi_sw                                  float64
precipitation_amt_mm                     float64
reanalysis_air_temp_k                    float64
reanalysis_avg_temp_k                    float64
reanalysis_dew_point_temp_k              float64
reanalysis_max_air_temp_k                float64
reanalysis_min_air_temp_k                float64
reanalysis_precip_amt_kg_per_m2          float64
reanalysis_relative_humidity_percent     float64
reanalysis_sat_precip_amt_mm             float64
reanalysis_specific_humidity_g_per_kg    float64
reanalysis_tdtr_k                        float64
station_avg_temp_c                       float64
station_diur_temp_rng_c                  float64
station_max_temp_c                       float64
station_min_temp_c                       float64
station_precip_mm                        float64
dtype: object

In [10]:
train['ndvi_ne'] = train['ndvi_ne'].fillna(train['ndvi_ne'].mean())
train['ndvi_nw'] = train['ndvi_nw'].fillna(train['ndvi_nw'].mean())
train['ndvi_se'] = train['ndvi_se'].fillna(train['ndvi_se'].mean())
train['ndvi_sw'] = train['ndvi_sw'].fillna(train['ndvi_sw'].mean())
train['precipitation_amt_mm'] = train['precipitation_amt_mm'].fillna(train['precipitation_amt_mm'].mean())
train['reanalysis_air_temp_k'] = train['reanalysis_air_temp_k'].fillna(train['reanalysis_air_temp_k'].mean())
train['reanalysis_avg_temp_k'] = train['reanalysis_avg_temp_k'].fillna(train['reanalysis_avg_temp_k'].mean())
train['reanalysis_dew_point_temp_k'] = train['reanalysis_dew_point_temp_k'].fillna(train['reanalysis_dew_point_temp_k'].mean())
train['reanalysis_max_air_temp_k'] = train['reanalysis_max_air_temp_k'].fillna(train['reanalysis_max_air_temp_k'].mean())
train['reanalysis_min_air_temp_k'] = train['reanalysis_min_air_temp_k'].fillna(train['reanalysis_min_air_temp_k'].mean())
train['reanalysis_precip_amt_kg_per_m2'] = train['reanalysis_precip_amt_kg_per_m2'].fillna(train['reanalysis_precip_amt_kg_per_m2'].mean())
train['reanalysis_relative_humidity_percent'] = train['reanalysis_relative_humidity_percent'].fillna(train['reanalysis_relative_humidity_percent'].mean())
train['reanalysis_sat_precip_amt_mm'] = train['reanalysis_sat_precip_amt_mm'].fillna(train['reanalysis_sat_precip_amt_mm'].mean())
train['reanalysis_specific_humidity_g_per_kg'] = train['reanalysis_specific_humidity_g_per_kg'].fillna(train['reanalysis_specific_humidity_g_per_kg'].mean())
train['reanalysis_tdtr_k'] = train['reanalysis_tdtr_k'].fillna(train['reanalysis_tdtr_k'].mean())
train['station_avg_temp_c'] = train['station_avg_temp_c'].fillna(train['station_avg_temp_c'].mean())
train['station_diur_temp_rng_c'] = train['station_diur_temp_rng_c'].fillna(train['station_diur_temp_rng_c'].mean())
train['station_max_temp_c'] = train['station_max_temp_c'].fillna(train['station_max_temp_c'].mean())
train['station_min_temp_c'] = train['station_min_temp_c'].fillna(train['station_min_temp_c'].mean())
train['station_precip_mm'] = train['station_precip_mm'].fillna(train['station_precip_mm'].mean())

In [11]:
test.isnull().any()

city                                     False
year                                     False
weekofyear                               False
week_start_date                          False
ndvi_ne                                   True
ndvi_nw                                   True
ndvi_se                                   True
ndvi_sw                                   True
precipitation_amt_mm                      True
reanalysis_air_temp_k                     True
reanalysis_avg_temp_k                     True
reanalysis_dew_point_temp_k               True
reanalysis_max_air_temp_k                 True
reanalysis_min_air_temp_k                 True
reanalysis_precip_amt_kg_per_m2           True
reanalysis_relative_humidity_percent      True
reanalysis_sat_precip_amt_mm              True
reanalysis_specific_humidity_g_per_kg     True
reanalysis_tdtr_k                         True
station_avg_temp_c                        True
station_diur_temp_rng_c                   True
station_max_temp_c                        True
station_min_temp_c                        True
station_precip_mm                         True
dtype: bool

In [12]:
missing =test.isnull()/len(test.isnull())
missing.sum()

city                                     0.000000
year                                     0.000000
weekofyear                               0.000000
week_start_date                          0.000000
ndvi_ne                                  0.103365
ndvi_nw                                  0.026442
ndvi_se                                  0.002404
ndvi_sw                                  0.002404
precipitation_amt_mm                     0.004808
reanalysis_air_temp_k                    0.004808
reanalysis_avg_temp_k                    0.004808
reanalysis_dew_point_temp_k              0.004808
reanalysis_max_air_temp_k                0.004808
reanalysis_min_air_temp_k                0.004808
reanalysis_precip_amt_kg_per_m2          0.004808
reanalysis_relative_humidity_percent     0.004808
reanalysis_sat_precip_amt_mm             0.004808
reanalysis_specific_humidity_g_per_kg    0.004808
reanalysis_tdtr_k                        0.004808
station_avg_temp_c                       0.028846
station_diur_temp_rng_c                  0.028846
station_max_temp_c                       0.007212
station_min_temp_c                       0.021635
station_precip_mm                        0.012019
dtype: float64

In [13]:
test['ndvi_ne'] = test['ndvi_ne'].fillna(test['ndvi_ne'].mean())
test['ndvi_nw'] = test['ndvi_nw'].fillna(test['ndvi_nw'].mean())
test['ndvi_se'] = test['ndvi_se'].fillna(test['ndvi_se'].mean())
test['ndvi_sw'] = test['ndvi_sw'].fillna(test['ndvi_sw'].mean())
test['precipitation_amt_mm'] = test['precipitation_amt_mm'].fillna(test['precipitation_amt_mm'].mean())
test['reanalysis_air_temp_k'] = test['reanalysis_air_temp_k'].fillna(test['reanalysis_air_temp_k'].mean())
test['reanalysis_avg_temp_k'] = test['reanalysis_avg_temp_k'].fillna(test['reanalysis_avg_temp_k'].mean())
test['reanalysis_dew_point_temp_k'] = test['reanalysis_dew_point_temp_k'].fillna(test['reanalysis_dew_point_temp_k'].mean())
test['reanalysis_max_air_temp_k'] = test['reanalysis_max_air_temp_k'].fillna(test['reanalysis_max_air_temp_k'].mean())
test['reanalysis_min_air_temp_k'] = test['reanalysis_min_air_temp_k'].fillna(test['reanalysis_min_air_temp_k'].mean())
test['reanalysis_precip_amt_kg_per_m2'] = test['reanalysis_precip_amt_kg_per_m2'].fillna(test['reanalysis_precip_amt_kg_per_m2'].mean())
test['reanalysis_relative_humidity_percent'] = test['reanalysis_relative_humidity_percent'].fillna(test['reanalysis_relative_humidity_percent'].mean())
test['reanalysis_sat_precip_amt_mm'] = test['reanalysis_sat_precip_amt_mm'].fillna(test['reanalysis_sat_precip_amt_mm'].mean())
test['reanalysis_specific_humidity_g_per_kg'] = test['reanalysis_specific_humidity_g_per_kg'].fillna(test['reanalysis_specific_humidity_g_per_kg'].mean())
test['reanalysis_tdtr_k'] = test['reanalysis_tdtr_k'].fillna(test['reanalysis_tdtr_k'].mean())
test['station_avg_temp_c'] = test['station_avg_temp_c'].fillna(test['station_avg_temp_c'].mean())
test['station_diur_temp_rng_c'] = test['station_diur_temp_rng_c'].fillna(test['station_diur_temp_rng_c'].mean())
test['station_max_temp_c'] = test['station_max_temp_c'].fillna(test['station_max_temp_c'].mean())
test['station_min_temp_c'] = test['station_min_temp_c'].fillna(test['station_min_temp_c'].mean())
test['station_precip_mm'] = test['station_precip_mm'].fillna(test['station_precip_mm'].mean())

In [14]:
test.isnull().any()

city                                     False
year                                     False
weekofyear                               False
week_start_date                          False
ndvi_ne                                  False
ndvi_nw                                  False
ndvi_se                                  False
ndvi_sw                                  False
precipitation_amt_mm                     False
reanalysis_air_temp_k                    False
reanalysis_avg_temp_k                    False
reanalysis_dew_point_temp_k              False
reanalysis_max_air_temp_k                False
reanalysis_min_air_temp_k                False
reanalysis_precip_amt_kg_per_m2          False
reanalysis_relative_humidity_percent     False
reanalysis_sat_precip_amt_mm             False
reanalysis_specific_humidity_g_per_kg    False
reanalysis_tdtr_k                        False
station_avg_temp_c                       False
station_diur_temp_rng_c                  False
station_max_temp_c                       False
station_min_temp_c                       False
station_precip_mm                        False
dtype: bool

In [46]:
train.describe()

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
count,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,...,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000
mean,0.642857,2001.031593,26.503434,0.142294,0.130553,0.203783,0.202305,45.760388,298.701852,299.225578,...,40.151819,82.161959,45.760388,16.746427,4.903754,27.185783,8.059328,32.452437,22.102150,39.326360
std,0.479322,5.408314,15.019437,0.130827,0.117835,0.073299,0.083266,43.519806,1.357730,1.257372,...,43.284882,7.129271,43.519806,1.537184,3.534237,1.273108,2.096879,1.945806,1.566475,47.095179
min,0.000000,1990.000000,1.000000,-0.406250,-0.456100,-0.015533,-0.063457,0.000000,294.635714,294.892857,...,0.000000,57.787143,0.000000,11.715714,1.357143,21.400000,4.528571,26.700000,14.700000,0.000000
25%,0.000000,1997.000000,13.750000,0.055625,0.051367,0.155625,0.144718,9.960000,297.665000,298.264286,...,13.200000,77.226429,9.960000,15.561429,2.328571,26.328571,6.528571,31.100000,21.100000,8.850000
50%,1.000000,2002.000000,26.500000,0.142294,0.128067,0.196998,0.190993,38.710000,298.662143,299.267857,...,27.370000,80.369286,38.710000,17.065000,2.864286,27.385714,7.385714,32.800000,22.200000,24.450000
75%,1.000000,2005.000000,39.250000,0.229292,0.212325,0.247021,0.246082,70.047500,299.827500,300.207143,...,52.042500,86.041429,70.047500,17.974643,7.553571,28.128571,9.500000,33.900000,23.300000,53.600000
max,1.000000,2010.000000,53.000000,0.508357,0.454429,0.538314,0.546017,390.600000,302.200000,302.928571,...,570.500000,98.610000,390.600000,20.461429,16.028571,30.800000,15.800000,42.200000,25.600000,543.300000

In [60]:
for col in train.columns:
    if ((train['ndvi_ne'].item().astype(floa) < 0.055625) or (train['ndvi_ne'] > 0.229292)):
        train['ndvi_ne'] = train['ndvi_ne'].mean()

ValueError: can only convert an array of size 1 to a Python scalar

In [47]:
test.describe()

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
count,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,...,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.00000,416.000000
mean,0.625000,2010.766827,26.439904,0.126050,0.126803,0.207702,0.201721,38.354324,298.818295,299.353071,...,42.171135,82.499810,38.354324,16.927088,5.124569,27.369587,7.810991,32.534625,22.36855,34.278589
std,0.484706,1.434835,14.978257,0.155605,0.139533,0.079007,0.091917,35.086274,1.465956,1.303082,...,48.791517,7.360442,35.086274,1.554110,3.534323,1.214656,2.414041,1.913475,1.71256,34.446562
min,0.000000,2008.000000,1.000000,-0.463400,-0.211800,0.006200,-0.014671,0.000000,294.554286,295.235714,...,0.000000,64.920000,0.000000,12.537143,1.485714,24.157143,4.042857,27.200000,14.20000,0.000000
25%,0.000000,2010.000000,13.750000,0.008150,0.017188,0.148677,0.134132,8.225000,297.751429,298.326786,...,9.490000,77.400000,8.225000,15.795714,2.453571,26.528571,5.942857,31.100000,21.20000,9.175000
50%,1.000000,2011.000000,26.000000,0.126050,0.099163,0.204479,0.186486,31.495000,298.564286,299.328571,...,25.900000,80.352857,31.495000,17.321429,2.914286,27.433333,6.728571,32.800000,22.20000,23.950000
75%,1.000000,2012.000000,39.000000,0.248361,0.241182,0.254807,0.253171,57.717500,300.238214,300.521429,...,56.225000,87.978214,57.717500,18.172500,8.171429,28.278571,9.750000,33.900000,23.30000,47.275000
max,1.000000,2013.000000,53.000000,0.500400,0.649000,0.453043,0.529043,169.340000,301.935714,303.328571,...,301.400000,97.982857,169.340000,19.598571,14.485714,30.271429,14.725000,38.400000,26.70000,212.000000

In [16]:
train["city"] = train["city"].astype('category')
train["city"] = train["city"].cat.codes

test["city"] = test["city"].astype('category')
test["city"] = test["city"].cat.codes

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
train.head(5)

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,1,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,1,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,1,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,1,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,1,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [19]:
train.tail(5)

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
1451,0,2010,21,2010-05-28,0.342750,0.318900,0.256343,0.292514,55.30,299.334286,...,45.00,88.765714,55.30,18.485714,9.800000,28.633333,11.933333,35.4,22.4,27.0
1452,0,2010,22,2010-06-04,0.160157,0.160371,0.136043,0.225657,86.47,298.330000,...,207.10,91.600000,86.47,18.070000,7.471429,27.433333,10.500000,34.7,21.7,36.6
1453,0,2010,23,2010-06-11,0.247057,0.146057,0.250357,0.233714,58.94,296.598571,...,50.60,94.280000,58.94,17.008571,7.500000,24.400000,6.900000,32.2,19.2,7.4
1454,0,2010,24,2010-06-18,0.333914,0.245771,0.278886,0.325486,59.67,296.345714,...,62.33,94.660000,59.67,16.815714,7.871429,25.433333,8.733333,31.2,21.0,16.0
1455,0,2010,25,2010-06-25,0.298186,0.232971,0.274214,0.315757,63.22,298.097143,...,36.90,89.082857,63.22,17.355714,11.014286,27.475000,9.900000,33.7,22.2,20.4

In [20]:
train.shape

(1456, 24)

In [21]:
train_data = pd.merge(labels, train)

In [22]:
train_data.shape

(1456, 25)

In [23]:
train_data.head()

,city,year,weekofyear,total_cases,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,1,1990,18,4,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,1,1990,19,5,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,1,1990,20,4,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,1,1990,21,3,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,1,1990,22,6,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [24]:
np.sum(train_data.duplicated())

0

In [25]:
# Split the data into features and target label
total_cases = train_data ['total_cases']
features = train_data.drop(['total_cases', 'week_start_date'], axis = 1)

In [26]:
features.head(1)

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,1,1990,18,0.1226,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,...,32.0,73.365714,12.42,14.012857,2.628571,25.442857,6.9,29.4,20.0,16.0

In [27]:
# Split the 'features' and 'total_cases' data into training and testing sets ratio 90/10 
X_train, X_test, y_train, y_test = train_test_split(features, total_cases, test_size = 0.2851, random_state = 0)

# Show the results of the split
print("Training set has {} samples.".format(X_train.shape[0]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 1040 samples.
Testing set has 416 samples.

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [29]:
lr = LinearRegression()

# Train the model using the training sets and check score
lr.fit(X_train, y_train)

#Predict Output
y_pred_lr= lr.predict(X_test)
score_lr= mean_absolute_error(y_test, y_pred_lr)

print(score_lr)

20.80969259892178

In [31]:
from sklearn.model_selection import GridSearchCV

In [32]:
# Create the parameters list for Linear Regression Model

parameters = {'fit_intercept':[True,False], 'normalize':[True,False], 'copy_X':[True, False]}


# Perform grid search cross validation
grid_obj = GridSearchCV(estimator=lr, param_grid= parameters, cv=5)

# Fit the grid search object to the training data 
grid_fit = grid_obj.fit(X_train, y_train)

# Get the estimator
best_lr = grid_fit.best_estimator_

# Make predictions using the optimized model
predictions_lr = (lr.fit(X_train, y_train)).predict(X_test)
best_predictions_lr = best_lr.predict(X_test)

print("\nOptimized Model\n------")
print("Final mean absolute error on the testing data (RF): {:.4f}".format(mean_absolute_error(y_test, best_predictions_lr)))

Optimized Model
------
Final mean absolute error on the testing data (RF): 20.8097

In [33]:
from sklearn.ensemble import RandomForestRegressor

In [34]:
rf = RandomForestRegressor(n_estimators = 100)

rf.fit(X_train, y_train)

#Predict Output
y_pred_rf= rf.predict(X_test)
score_rf= mean_absolute_error(y_test, y_pred_rf)

print(score_rf)

13.408557692307692

In [35]:
# Create the parameters list for RandomForest Regressor
parameters =  {
    'n_estimators': [100, 200]
}


# Perform grid search cross validation
grid_obj = GridSearchCV(estimator=rf, param_grid= parameters, cv=5)

# Fit the grid search object to the training data 
grid_fit = grid_obj.fit(X_train, y_train)

# Get the estimator
best_rf = grid_fit.best_estimator_

# Make predictions using the optimized model
predictions_rf = (rf.fit(X_train, y_train)).predict(X_test)
best_predictions_rf = best_rf.predict(X_test)

print("\nOptimized Model\n------")
print("Final mean absolute error on the testing data (RF): {:.4f}".format(mean_absolute_error(y_test, best_predictions_rf)))

Optimized Model
------
Final mean absolute error on the testing data (RF): 13.8291

In [36]:
total_cases = predictions_rf.astype(int)

In [37]:
total_cases.size

416

In [40]:
sub = test.iloc[:, 0:3]

In [41]:
sub.head()

   city  year  weekofyear
0     1  2008          18
1     1  2008          19
2     1  2008          20
3     1  2008          21
4     1  2008          22

In [42]:
sub.insert(3, 'total_cases', total_cases)

In [43]:
sub.shape

(416, 4)

In [44]:
sub.head()

   city  year  weekofyear  total_cases
0     1  2008          18           10
1     1  2008          19           20
2     1  2008          20          197
3     1  2008          21           13
4     1  2008          22           60

In [45]:
sub.to_csv(r'C:\Users\aasimilyas\Desktop\DengAI_Pred\submission2.csv')